/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

//== Colors
// site specific
@pxl-color-red: #D40028;
@pxl-color-dark-red: #870000;
@pxl-color-about: #000000;
@pxl-color-gray: #808080;
@pxl-color-grayblue: #8b9997;
@pxl-color-black: #000;
@pxl-color-header: @pxl-color-gray;
@pxl-color-brown: #A3897A;

@pxl-color-main: #FBF8F4;
@pxl-color-active: @pxl-color-red;

// borders
@pxl-color-border: #5f5e5e;
@pxl-color-border-active: @pxl-color-main;

// buttons
@pxl-color-bg-button: @pxl-color-main;
@pxl-color-bg-button-hover: #fff;


  // backgrounds
@pxl-color-body-bg: #151b1f; //#00121e;
@pxl-color-box-bg: #ECE9E1;
@pxl-color-container-bg: #FBF8F4;

// gray tones
@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

// brands
@brand-primary:         #337ab7;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@text-color:            #222;
@text-color-disabled:   @gray-lighter;
@text-color-form:      @text-color;
@text-color-placeholder: @gray-light;

@text-letter-spacing: normal;
@text-line-height: 1.3em;
@text-text-align: left;

@subtitle-letter-spacing: 0;
@subtitle-line-height: 1.1em;
@subtitle-text-align: left;

@title-color: #53251B;
@title-letter-spacing: 0.0em;
@title-line-height: 1.1em;
@title-text-align: center;

@form-letter-spacing: normal;
@form-line-height: 1.15em;
@form-text-align: left;

@form-button-letter-spacing: 0.02em;
@form-button-line-height: 1;
@form-button-text-align: center;

//
// responsive font sizes
@resp-small-size-min:      10px;
@resp-small-size-med:      11px;
@resp-small-size-max:      12px;

@resp-font-size-min:      15px;
@resp-font-size-med:      17px;
@resp-font-size-max:      19px;

@resp-lead-size-min:      19px;
@resp-lead-size-med:      22px;
@resp-lead-size-max:      25px;

@resp-subtitle-size-min:  28px;
@resp-subtitle-size-med:  34px;
@resp-subtitle-size-max:  45px;

@resp-title-size-min:     46px;
@resp-title-size-med:     62px;
@resp-title-size-max:     76px;

@resp-button-size-min:    20px;
@resp-button-size-med:    24px;
@resp-button-size-max:    26px;

//
// selected element font size
@font-size-base:          17px;
@font-size-large:         ceil((@font-size-base * 1.25));
@font-size-larger:        ceil((@font-size-base * 1.5));
@font-size-small:         ceil((@font-size-base * 0.85));
@font-size-smaller:       ceil((@font-size-base * 0.7));
@font-size-min:          15px;

@font-size-button:        20px;
@font-size-button-large:  24px;
@font-size-pane-title:    32px;
@font-size-pane-subtitle: 20px;


//== Scaffolding
// links
@link-color:            @text-color;
//** Link hover decoration.
@link-decoration:       none;
//** Link hover color set via `darken()` function.
@link-color-hover:      @pxl-color-active;
//** Link hover decoration.
@link-decoration-hover: none;

// shadows
@pxl-box-shadow: 0 0 4px rgba(100,100,100, 0.4);



//== Iconography
//
//** Load icon font from this directory.
@pxl-bs-path: '../bootstrap';
@icon-font-path: "@{pxl-bs-path}/fonts/";


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              30em; // 480px
// Small screen / tablet
@screen-sm-min:              48em; // 768px
// Medium screen / desktop
@screen-md-min:              64em; // 1024px
// Large screen / wide desktop
@screen-lg-min:              80em; // 1280px
// So media queries don't overlap when required, provide a maximum
@screen-xss-max:  (@screen-xs-min - 0.0625em);
@screen-xs-max:   (@screen-sm-min - 0.0625em);
@screen-sm-max:   (@screen-md-min - 0.0625em);
@screen-md-max:   (@screen-lg-min - 0.0625em);


//== Media queries
//
//## Define your custom media queries.
@mobile:  ~"screen and (max-width: @{screen-xss-max})";
@narrow:  ~"screen and (min-width: @{screen-xs-min})";
@tablet:  ~"screen and (min-width: @{screen-sm-min})";
@normal:  ~"screen and (min-width: @{screen-md-min})";
@wide:    ~"screen and (min-width: @{screen-lg-min})";

// special break for menu items
@special-break: ~"screen and (min-width: 640px)";

// Media queries stacked
@tablet-only:  ~"screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@normal-only:  ~"screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         30px;
@grid-gutter-width-tablet:  110px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             (720px + @grid-gutter-width);
//** For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            (940px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      (1140px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
// main region
@region-content-margin: 50px 0;
// block/group
@block-padding: 20px 0 30px;

// paragraphs
@paragraph-margin-bottom: 30px;
@paragraph-margin-bottom-large: 50px;

// nodes
@node-padding: 0;
// ds-column
@node-ds-column-margin-bottom: 50px;
// fields
@node-field-margin-bottom: 50px;



//== Pagination
//
//##
@pagination-color:                     @link-color;
@pagination-hover-color:               @pxl-color-main;
@pagination-active-color:              @pxl-color-main;
@pagination-disabled-color:            @gray-light;


